body {
   margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img {
   border: 0px;
}

::-moz-selection {
   background-color: #6ab344;
   color: #fff;
}

::selection {
   background-color: #6ab344;
   color: #fff;
}

.own-header .mdl-menu__container {
   z-index: 50;
   margin: 0 !important;
}

.own-mobile-title {
   display: none !important;
}

.own-logo-image {
   height: 28px;
   width: 140px;
}

.own-header {
   overflow: visible;
   background-color: white;
}

.own-header .material-icons {
   color: #767777 !important;
}

.own-header .mdl-navigation__link {
   color: #757575;
   font-weight: 700;
   font-size: 14px;
}

.own-navigation-container {
   /* Simple hack to make the overflow happen to the left instead... */
   direction: rtl;
   order: 1;
   width: 500px;
   transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
      width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.own-navigation {
   /* ... and now make sure the content is actually LTR */
   direction: ltr;
   justify-content: flex-end;
   width: 800px;
}

.own-navigation .mdl-navigation__link {
   display: inline-block;
   height: 60px;
   line-height: 68px;
   background-color: transparent !important;
   border-bottom: 4px solid transparent;
}

.own-navigation .mdl-navigation__link::hover {
   border-bottom: 4px solid #8bc34a;
}

.own-drawer .own-logo-image {
   position: absolute;
   bottom: 16px;
}

.own-more-button {
   order: 3;
}

.own-image-link {
   text-decoration: none;
}

.own-link-menu:hover {
   cursor: pointer;
}

@media (max-width: 900px) {
   .own-title {
      display: none !important;
   }
}
